<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>MyFirstViewController</string>
		<key>identifier</key>
		<string>myFirstVC</string>
		<key>description</key>
		<string>我的第一个视图控制器</string>
	</dict>
	<dict>
		<key>className</key>
		<string>MySecondViewController</string>
		<key>identifier</key>
		<string>mySecondVC</string>
		<key>description</key>
		<string>我的第二个视图控制器</string>
	</dict>
	<dict>
		<key>className</key>
		<string>MyFirstSubViewController</string>
		<key>identifier</key>
		<string>myFirstSubVC</string>
		<key>description</key>
		<string>我的第一个子视图控制器</string>
	</dict>
</array>
</plist>
