<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>TestViewController</string>
		<key>identifier</key>
		<string>testView</string>
		<key>description</key>
		<string>测试视图控制器</string>
	</dict>
	<dict>
		<key>className</key>
		<string>TestTableViewController</string>
		<key>identifier</key>
		<string>testTableview</string>
		<key>description</key>
		<string>测试列表视图控制器</string>
	</dict>
	<dict>
		<key>className</key>
		<string>TestWebViewController</string>
		<key>identifier</key>
		<string>testWebView</string>
		<key>description</key>
		<string>测试网络视图控制器</string>
	</dict>
</array>
</plist>
