<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>className</key>
		<string>ZCPViewController</string>
		<key>identifier</key>
		<string>view</string>
		<key>description</key>
		<string>视图控制器</string>
	</dict>
	<dict>
		<key>className</key>
		<string>ZCPTableViewController</string>
		<key>identifier</key>
		<string>tableview</string>
		<key>description</key>
		<string>列表视图控制器</string>
	</dict>
	<dict>
		<key>className</key>
		<string>ZCPNavigationController</string>
		<key>identifier</key>
		<string>navigationview</string>
		<key>description</key>
		<string>导航视图控制器</string>
	</dict>
	<dict>
		<key>className</key>
		<string>ZCPTabBarController</string>
		<key>identifier</key>
		<string>tabbarview</string>
		<key>description</key>
		<string>选项卡视图控制器</string>
	</dict>
	<dict>
		<key>className</key>
		<string>ZCPWebViewController</string>
		<key>identifier</key>
		<string>webview</string>
		<key>description</key>
		<string>浏览器视图控制器</string>
	</dict>
	<dict>
		<key>className</key>
		<string>ViewController</string>
		<key>identifier</key>
		<string>testview</string>
		<key>description</key>
		<string>测试view</string>
	</dict>
</array>
</plist>
